.App {
  background-color:#282c34;
}

.logo {
  height: 150px;
}

.nav {
  align-items:center;
  display:flex;
  justify-content:space-between;
}

.nav-items {
  list-style:none;
  display:flex; 
}

.nav-items > li {
  color:#ffffff;
  padding:10px;
}
