.App {
  background-color:#282c34;
}

.logo {
  height: 30px;
  margin-right:7px;
}

.nav {
  align-items:center;
  display:flex;
  justify-content:space-between;
  background-color:#21222A;
  padding: 30px 25px;
  height:90px;
}

.nav > h3 , .nav >h4 {
  margin:0;
}

.nav > h3 {
  margin-right:auto;
  color:#61DAFB;
  font-weight:700;
  font-family:Audiowave;
  font-size:22px;
}

.nav > h4 {
  color:#DEEBF8;
  font-weight:600;
}


.nav-items {
  list-style:none;
  display:flex; 
}

.nav-items > li {
  
  padding:10px;
}

.main-h1 {
  color:#ffffff;
  font-family:Arbutus;
  pading:40px 30px;
  margin-left:auto;
}

.main-ul {
  color:#ffffff;
  padding:25px 25px;
  font-weight:300;
}

.App-header {
  margin-left:10px;
}
